## **<font color = '#1ABC9C'> Plot the monthly number of searches for flights arriving at MÃ¡laga, Madrid or Barcelona (using the searches file)</font>**

In [1]:
import pandas as pd

In [2]:
searches = pd.read_csv("~/Data/challenge/searches.csv", nrows = 10000, sep = '^')

In [3]:
searches.head(20)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
5,2013-01-01,22:00:28,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,BLR,1,2,IAH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
6,2013-01-01,10:47:14,MPT,d327ca6e35cc6732d4709828327ac7c1,DK,CPH,PAR,1,2,CPH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
7,2013-01-01,23:39:49,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
8,2013-01-01,17:08:46,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,DUS,ACE,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
9,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ
10,2013-01-01,18:01:31,MPT,b2771a31dc32d1e4af0ea7d758b8442b,FR,PAR,BUD,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
11,2013-01-01,09:32:18,FFP,53aea156edeed571bbc473c82b01ac4b,BR,RIO,POA,1,2,RIO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
12,2013-01-01,05:41:14,CAL,dfa4f720052cefaf2e1fe40befc016e6,HK,HKG,MXP,1,2,HKG,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HKG
13,2013-01-01,07:05:45,MPT,d03a30f66f773a65aad66e7bafd1110f,GR,BCN,LON,0,1,BCN,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ATH
14,2013-01-01,03:30:49,MPT,b04e0620a297a1b50819d31535aa5b61,US,CLE,SNN,1,2,CLE,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,DTW
15,2013-01-01,09:19:41,FCP,7da60d9e60a322d3fff7e00cb62baa53,BR,BSB,SLZ,0,1,BSB,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
16,2013-01-01,06:20:43,MPT,440642a9bdaeb6287f826cefd73255e8,US,PEK,PHL,0,1,PEK,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
17,2013-01-01,18:54:24,MPT,8b4fa4e121637f583bfa86ef0fa26c9e,US,BOS,GRU,1,2,BOS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAS
18,2013-01-01,10:47:24,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,TBS,IKT,0,1,TBS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
19,2013-01-01,19:02:13,MPT,cf4ae41b25a075c3a8fee145e1919199,NL,LON,HKG,1,2,LON,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,AMS

In [4]:
searches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
Date                 10000 non-null object
Time                 10000 non-null object
TxnCode              10000 non-null object
OfficeID             10000 non-null object
Country              10000 non-null object
Origin               10000 non-null object
Destination          10000 non-null object
RoundTrip            10000 non-null int64
NbSegments           10000 non-null int64
Seg1Departure        10000 non-null object
Seg1Arrival          10000 non-null object
Seg1Date             9973 non-null object
Seg1Carrier          4047 non-null object
Seg1BookingCode      1143 non-null object
Seg2Departure        7196 non-null object
Seg2Arrival          7196 non-null object
Seg2Date             7161 non-null object
Seg2Carrier          2870 non-null object
Seg2BookingCode      998 non-null object
Seg3Departure        534 non-null object
Seg3Arrival          534 non-null object
Seg3Date             531 non-null object
Seg3Carrier          517 non-null object
Seg3BookingCode      508 non-null object
Seg4Departure        440 non-null object
Seg4Arrival          440 non-null object
Seg4Date             439 non-null object
Seg4Carrier          438 non-null object
Seg4BookingCode      436 non-null object
Seg5Departure        103 non-null object
Seg5Arrival          103 non-null object
Seg5Date             103 non-null object
Seg5Carrier          103 non-null object
Seg5BookingCode      103 non-null object
Seg6Departure        58 non-null object
Seg6Arrival          58 non-null object
Seg6Date             58 non-null object
Seg6Carrier          58 non-null object
Seg6BookingCode      58 non-null object
From                 9925 non-null object
IsPublishedForNeg    10000 non-null int64
IsFromInternet       10000 non-null int64
IsFromVista          10000 non-null int64
TerminalID           10000 non-null object
InternetOffice       10000 non-null object
dtypes: int64(5), object(40)
memory usage: 3.4+ MB

In [5]:
searches.describe()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista
count,10000.000000,10000.000000,10000.0,10000.0,10000.0
mean,0.700700,1.833600,0.0,0.0,0.0
std,0.457974,0.731823,0.0,0.0,0.0
min,0.000000,1.000000,0.0,0.0,0.0
25%,0.000000,1.000000,0.0,0.0,0.0
50%,1.000000,2.000000,0.0,0.0,0.0
75%,1.000000,2.000000,0.0,0.0,0.0
max,1.000000,9.000000,0.0,0.0,0.0

In [6]:
type(searches['Date'][0])

str

In [7]:
from datetime import datetime

In [8]:
searches['month'] = pd.DatetimeIndex(searches['Date']).month

In [9]:
searches['month']

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
9970    1
9971    1
9972    1
9973    1
9974    1
9975    1
9976    1
9977    1
9978    1
9979    1
9980    1
9981    1
9982    1
9983    1
9984    1
9985    1
9986    1
9987    1
9988    1
9989    1
9990    1
9991    1
9992    1
9993    1
9994    1
9995    1
9996    1
9997    1
9998    1
9999    1
Name: month, Length: 10000, dtype: int64

In [10]:
searches['year'] = pd.DatetimeIndex(searches['Date']).year

In [11]:
searches['year'].head(50)

0     2013
1     2013
2     2013
3     2013
4     2013
5     2013
6     2013
7     2013
8     2013
9     2013
10    2013
11    2013
12    2013
13    2013
14    2013
15    2013
16    2013
17    2013
18    2013
19    2013
20    2013
21    2013
22    2013
23    2013
24    2013
25    2013
26    2013
27    2013
28    2013
29    2013
30    2013
31    2013
32    2013
33    2013
34    2013
35    2013
36    2013
37    2013
38    2013
39    2013
40    2013
41    2013
42    2013
43    2013
44    2013
45    2013
46    2013
47    2013
48    2013
49    2013
Name: year, dtype: int64

In [12]:
searches.describe()

,RoundTrip,NbSegments,IsPublishedForNeg,IsFromInternet,IsFromVista,month,year
count,10000.000000,10000.000000,10000.0,10000.0,10000.0,10000.0,10000.0
mean,0.700700,1.833600,0.0,0.0,0.0,1.0,2013.0
std,0.457974,0.731823,0.0,0.0,0.0,0.0,0.0
min,0.000000,1.000000,0.0,0.0,0.0,1.0,2013.0
25%,0.000000,1.000000,0.0,0.0,0.0,1.0,2013.0
50%,1.000000,2.000000,0.0,0.0,0.0,1.0,2013.0
75%,1.000000,2.000000,0.0,0.0,0.0,1.0,2013.0
max,1.000000,9.000000,0.0,0.0,0.0,1.0,2013.0

In [13]:
searches.columns

Index(['Date', 'Time', 'TxnCode', 'OfficeID', 'Country', 'Origin',
       'Destination', 'RoundTrip', 'NbSegments', 'Seg1Departure',
       'Seg1Arrival', 'Seg1Date', 'Seg1Carrier', 'Seg1BookingCode',
       'Seg2Departure', 'Seg2Arrival', 'Seg2Date', 'Seg2Carrier',
       'Seg2BookingCode', 'Seg3Departure', 'Seg3Arrival', 'Seg3Date',
       'Seg3Carrier', 'Seg3BookingCode', 'Seg4Departure', 'Seg4Arrival',
       'Seg4Date', 'Seg4Carrier', 'Seg4BookingCode', 'Seg5Departure',
       'Seg5Arrival', 'Seg5Date', 'Seg5Carrier', 'Seg5BookingCode',
       'Seg6Departure', 'Seg6Arrival', 'Seg6Date', 'Seg6Carrier',
       'Seg6BookingCode', 'From', 'IsPublishedForNeg', 'IsFromInternet',
       'IsFromVista', 'TerminalID', 'InternetOffice', 'month', 'year'],
      dtype='object')

In [46]:
#select only the columns I need to solve the excercise
cols = ['Date', 'Origin', 'Destination']

In [70]:
searches = pd.read_csv("~/Data/challenge/searches.csv", nrows = 500000, sep = '^', usecols = cols)
searches['year'] = pd.DatetimeIndex(searches['Date']).year
searches['month'] = pd.DatetimeIndex(searches['Date']).month
searches['counter'] = 1

In [71]:
searches.head(20)

          Date Origin Destination  year  month  counter
0   2013-01-01    TXL         AUH  2013      1        1
1   2013-01-01    ATH         MIL  2013      1        1
2   2013-01-01    ICT         SFO  2013      1        1
3   2013-01-01    RNB         ARN  2013      1        1
4   2013-01-01    OSL         MAD  2013      1        1
5   2013-01-01    IAH         BLR  2013      1        1
6   2013-01-01    CPH         PAR  2013      1        1
7   2013-01-01    PAR         DUB  2013      1        1
8   2013-01-01    DUS         ACE  2013      1        1
9   2013-01-01    FRA         BGW  2013      1        1
10  2013-01-01    PAR         BUD  2013      1        1
11  2013-01-01    RIO         POA  2013      1        1
12  2013-01-01    HKG         MXP  2013      1        1
13  2013-01-01    BCN         LON  2013      1        1
14  2013-01-01    CLE         SNN  2013      1        1
15  2013-01-01    BSB         SLZ  2013      1        1
16  2013-01-01    PEK         PHL  2013      1        1
17  2013-01-01    BOS         GRU  2013      1        1
18  2013-01-01    TBS         IKT  2013      1        1
19  2013-01-01    LON         HKG  2013      1        1

In [72]:
#filtered by Destination: MÃ¡laga, Madrid and Barcelona

filter_destination = ['AGP']

In [50]:
searches = searches[searches.Destination.isin(filter_destination)]

In [51]:
searches.head(20)

            Date Origin Destination  year  month  counter
93    2013-01-01    FRA         AGP  2013      1        1
147   2013-01-01    HHN         AGP  2013      1        1
242   2013-01-01    GVA         AGP  2013      1        1
458   2013-01-01    DUS         AGP  2013      1        1
674   2013-01-01    HEL         AGP  2013      1        1
835   2013-01-01    FRA         AGP  2013      1        1
904   2013-01-01    TXL         AGP  2013      1        1
1414  2013-01-02    HAJ         AGP  2013      1        1
1531  2013-01-02    OSL         AGP  2013      1        1
1936  2013-01-02    VIE         AGP  2013      1        1
1974  2013-01-02    AMS         AGP  2013      1        1
2368  2013-01-03    BOS         AGP  2013      1        1
2500  2013-01-03    NCL         AGP  2013      1        1
2560  2013-01-03    PAR         AGP  2013      1        1
2685  2013-01-03    MAN         AGP  2013      1        1
2925  2013-01-03    COR         AGP  2013      1        1
3304  2013-01-04    DUS         AGP  2013      1        1
3327  2013-01-04    PAD         AGP  2013      1        1
3337  2013-01-04    NTE         AGP  2013      1        1
3663  2013-01-04    MUC         AGP  2013      1        1

In [65]:
searches.tail(50)

              Date Origin Destination  year  month  counter
492582  2013-05-14    MSQ         AGP  2013      5        1
492758  2013-05-14    HEL         AGP  2013      5        1
492820  2013-05-14    STO         AGP  2013      5        1
493112  2013-05-15    FRA         AGP  2013      5        1
493126  2013-05-15    AAR         AGP  2013      5        1
493139  2013-05-15    EIN         AGP  2013      5        1
493299  2013-05-15    MAD         AGP  2013      5        1
493347  2013-05-15    BER         AGP  2013      5        1
493518  2013-05-15    TLV         AGP  2013      5        1
493575  2013-05-15    ORK         AGP  2013      5        1
493633  2013-05-15    TLL         AGP  2013      5        1
493679  2013-05-15    CGN         AGP  2013      5        1
493692  2013-05-15    MOW         AGP  2013      5        1
493754  2013-05-15    DUS         AGP  2013      5        1
493778  2013-05-15    STR         AGP  2013      5        1
493869  2013-05-15    DUS         AGP  2013      5        1
494114  2013-05-16    PIK         AGP  2013      5        1
494394  2013-05-16    JCU         AGP  2013      5        1
494448  2013-05-16    GRZ         AGP  2013      5        1
494471  2013-05-16    MUC         AGP  2013      5        1
494526  2013-05-16    HEL         AGP  2013      5        1
494610  2013-05-16    EMA         AGP  2013      5        1
494932  2013-05-16    MOW         AGP  2013      5        1
495078  2013-05-17    DUS         AGP  2013      5        1
495264  2013-05-17    ZRH         AGP  2013      5        1
495299  2013-05-17    LON         AGP  2013      5        1
495485  2013-05-17    FUE         AGP  2013      5        1
495940  2013-05-17    STO         AGP  2013      5        1
496212  2013-05-18    LBA         AGP  2013      5        1
496466  2013-05-18    OVD         AGP  2013      5        1
496528  2013-05-18    BCN         AGP  2013      5        1
496591  2013-05-18    EZE         AGP  2013      5        1
496639  2013-05-18    MOW         AGP  2013      5        1
496657  2013-05-18    STN         AGP  2013      5        1
496734  2013-05-18    MAN         AGP  2013      5        1
497193  2013-05-19    BRS         AGP  2013      5        1
497566  2013-05-19    STO         AGP  2013      5        1
497629  2013-05-19    LON         AGP  2013      5        1
497731  2013-05-19    OSL         AGP  2013      5        1
497949  2013-05-19    MUC         AGP  2013      5        1
498055  2013-05-20    ARN         AGP  2013      5        1
498432  2013-05-20    LON         AGP  2013      5        1
498652  2013-05-20    GDL         AGP  2013      5        1
498782  2013-05-20    DTM         AGP  2013      5        1
498941  2013-05-20    HEL         AGP  2013      5        1
499127  2013-05-21    MUC         AGP  2013      5        1
499292  2013-05-21    VLL         AGP  2013      5        1
499326  2013-05-21    JED         AGP  2013      5        1
499454  2013-05-21    AMS         AGP  2013      5        1
499518  2013-05-21    VCE         AGP  2013      5        1

In [52]:
group_searches = searches.groupby(['Destination', 'month'])['counter'].agg('sum').reset_index()

In [53]:
group_searches

   Destination  month  counter
0          AGP      1      338
1          AGP      2      294
2          AGP      3      374
3          AGP      4      290
4          AGP      5      310
5          AGP      6      139
6          AGP      7      156
7          AGP      8      138
8          AGP      9      143
9          AGP     10      115
10         AGP     11      114
11         AGP     12       66

In [73]:
# Process by chunks

#Me da error de Date a partir de la fila 1.436.000

cols = ['Date', 'Origin', 'Destination'] 
filter_destination = ['AGP']

all_chunks = pd.DataFrame()

rows = 0
chunks = 0

for chunk in pd.read_csv("~/Data/challenge/searches.csv",sep = '^', usecols = cols, chunksize = 500000):
    chunk['year'] = pd.DatetimeIndex(chunk['Date']).year
    chunk['month'] = pd.DatetimeIndex(chunk['Date']).month
    chunk['counter'] = 1
    chunk = chunk.dropna()
    rows += len(chunk)
    chunks += 1
    
    chunk = chunk[chunk.Destination.isin(filter_destination)]
    
   
    group_destination = chunk.groupby(['Destination', 'month'])['counter'].sum().reset_index()
    
    group_destination = group_destination.sort_values(by = 'counter', ascending = False)
    
    
    
    print(str(rows))
    all_chunks = all_chunks.append(group_destination)
    
    all_chunks = all_chunks.groupby(['Destination', 'month'])['counter'].agg('sum').reset_index()
    
    all_chunks
print(str(rows))
print(str(chunks))
print(all_chunks)

500000
1000000

ValueError: ('Unknown string format:', '2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,MIL,2013-01-04,,,,,,,,,,,,,,,,,,,,,,,,,,,,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV')

In [79]:
# Process by chunks

#Me da error de Date a partir de la 1.436.000

cols = ['Date', 'Origin', 'Destination'] 
filter_destination = ['AGP', 'MAD', 'BCN']

all_chunks = pd.DataFrame()

rows = 0
chunks = 0

for chunk in pd.read_csv("~/Data/challenge/searches.csv",sep = '^', usecols = cols, chunksize = 500000):
    
    chunk = chunk.dropna()
    rows += len(chunk)
    chunks += 1
    
    chunk = chunk[chunk.Destination.isin(filter_destination)]
    chunk['counter'] = 1
   
    group_destination = chunk.groupby(['Destination', 'Date'])['counter'].sum().reset_index()
    
    group_destination['Date'] = pd.to_datetime(group_destination['Date'])
    group_destination['month'] = group_destination['Date'].dt.month
    group_destination['year'] = group_destination['Date'].dt.year
    
    group_destination = group_destination.groupby(['Destination', 'month'])['counter'].sum().reset_index()
    
    group_destination = group_destination.sort_values(by = 'counter', ascending = False)
    
    
    
    print(str(rows))
    all_chunks = all_chunks.append(group_destination)
    
    all_chunks = all_chunks.groupby(['Destination', 'month'])['counter'].agg('sum').reset_index()
    
    all_chunks
print(str(rows))
print(str(chunks))
print(all_chunks)

500000
1000000
1499999
1999997
2499997
2999997
3499996
3999994
4499994
4999994
5499991
5999991
6499991
6999990
7499988
7999988
8499988
8999985
9499985
9999985
10499984
10999982
11499982
11999982
12499981
12999979
13499979
13999979
14499976
14999976
15499976
15999975
16499973
16999973
17499973
17999970
18499970
18999970
19499969
19999967
20390165
20390165
41
   Destination  month  counter
0          AGP      1     9633
1          AGP      2     8379
2          AGP      3    10659
3          AGP      4     8265
4          AGP      5    10830
5          AGP      6     7923
6          AGP      7     8892
7          AGP      8     7866
8          AGP      9     8151
9          AGP     10     6499
10         AGP     11     6384
11         AGP     12     3696
12         BCN      1    29469
13         BCN      2    28329
14         BCN      3    30552
15         BCN      4    31236
16         BCN      5    28728
17         BCN      6    26505
18         BCN      7    29241
19         BCN      8    27075
20         BCN      9    23427
21         BCN     10    20276
22         BCN     11    19824
23         BCN     12    15400
24         MAD      1    24258
25         MAD      2    22800
26         MAD      3    24681
27         MAD      4    25251
28         MAD      5    26334
29         MAD      6    22800
30         MAD      7    22971
31         MAD      8    21831
32         MAD      9    21147
33         MAD     10    22294
34         MAD     11    20272
35         MAD     12    14504

In [78]:
import matplotlib.pyplot as plt